content/docs/automation/node-red/mqtt/victron/auto-config.json
[
  {
    "id": "2a4f041ca5c9bc1c",
    "type": "function",
    "z": "b84a1c4752b489e8",
    "name": "Create Device Config",
    "func": "msg.payload = {\n    \"dev\": {\n        \"ids\": \"7239bc0a334a45bdd2d0a4f85f5421c3\",\n        \"name\": \"Battery Backup Sump Pump\",\n        \"mf\": \"Jared Suess\",\n        \"mdl\": \"DIY\",\n        \"sw\": \"1.0\",\n        \"sn\": \"da2be04f18525c907d3f641bd03a0192\",\n        \"hw\": \"1.0\"\n    },\n    \"o\": {\n        \"name\":\"Node-RED Cerbo GX\",\n    },\n    \"cmps\": {\n        \n        // Control Entities\n        \n        \"inverter_mode\": {\n            \"name\": \"Inverter Mode\",\n            \"p\": \"select\",\n            \"ops\": [ \"Charger Only\", \"Inverter Only\", \"On\", \"Off\" ],\n            \"val_tpl\": \"{{ value_json.inverter.mode }}\",\n            \"cmd_tpl\": '{\"inverter\": {\"mode\": \"{{ value }}\" } }',\n            \"uniq_id\": \"e2321568f330f90b96222ee28ae3497b\"\n        },\n        \"inverter_grid_current_limit\": {\n            \"name\": \"Grid Current Limit\",\n            \"p\": \"number\",\n            \"dev_cla\": \"current\",\n            \"unit_of_meas\": \"A\",\n            \"val_tpl\": \"{{ value_json.inverter.grid_current_limit }}\",\n            \"cmd_tpl\": '{ \"inverter\": { \"grid_current_limit\": {{ value }} } }',\n            \"min\": 0,\n            \"max\": 14,\n            \"step\": 0.5,\n            \"mode\": \"box\",\n            \"uniq_id\": \"4e6ae3db21653f94f3280e55a08e614e\"\n        },\n        \"automate_case_lighting\": {\n            \"name\": \"Case Status Lighting\",\n            \"p\": \"switch\",\n            \"pl_on\": true,\n            \"pl_off\": false,\n            \"val_tpl\": \"{{ value_json.automation.case_lighting }}\",\n            \"cmd_tpl\": \"{{ { 'automation': { 'case_lighting': value | bool } } | to_json }}\",\n            \"uniq_id\": \"27e3a37680d49215ecc96af8b5134331\"\n        },\n        \"automate_mqtt_publish\": {\n            \"name\": \"MQTT State Publish\",\n            \"p\": \"switch\",\n            \"pl_on\": true,\n            \"pl_off\": false,\n            \"val_tpl\": \"{{ value_json.automation.mqtt_publish }}\",\n            \"cmd_tpl\": \"{{ { 'automation': { 'mqtt_publish': value | bool } } | to_json }}\",\n            \"uniq_id\": \"81a52632856455cfd86d60ed1b12de84\"\n        },\n        \"right_outlet_output_switch\": {\n            \"name\": \"Right Outlet Switch\",\n            \"p\": \"switch\",\n            \"pl_on\": true,\n            \"pl_off\": false,\n            \"val_tpl\": \"{{ value_json.output_switch.switch0.output }}\",\n            \"cmd_tpl\": \"{{ { 'output_switch': { 'set': { 'relay': 0, 'on': value | bool } } } | to_json }}\",\n            \"uniq_id\": \"4726432be40680bf095310279b81b533\"\n        },\n        \"left_outlet_output_switch\": {\n            \"name\": \"Left Outlet Switch\",\n            \"p\": \"switch\",\n            \"pl_on\": true,\n            \"pl_off\": false,\n            \"val_tpl\": \"{{ value_json.output_switch.switch1.output }}\",\n            \"cmd_tpl\": \"{{ { 'output_switch': { 'set': { 'relay': 1, 'on': value | bool } } } | to_json }}\",\n            \"uniq_id\": \"a2a6b8b0034dd9951a09a23fa2c46b95\"\n        },\n        \"fan_output_switch\": {\n            \"name\": \"Fan Switch\",\n            \"p\": \"switch\",\n            \"pl_on\": true,\n            \"pl_off\": false,\n            \"val_tpl\": \"{{ value_json.output_switch.switch2.output }}\",\n            \"cmd_tpl\": \"{{ { 'output_switch': { 'set': { 'relay': 2, 'on': value | bool } } } | to_json }}\",\n            \"uniq_id\": \"ab973de0dacc0953054fb0d146cfb6d4\"\n        },\n        \"aux_switch_restart\": {\n            \"name\": \"Aux Switch Restart\",\n            \"p\": \"button\",\n            \"dev_cla\": \"restart\",\n            \"pl_prs\": \"{ 'output_switch': { 'restart': 3 } }\",\n            \"uniq_id\": \"f4c60166a98ebfb8ce77cf6eccde97d0\"\n        },\n        \n        // Sensor Entities\n        \n        \"inverter_state\": {\n            \"name\": \"Inverter State\",\n            \"p\": \"sensor\",\n            \"val_tpl\": \"{{ value_json.inverter.state }}\",\n            \"uniq_id\": \"859840bc21bbe44ddd489586360273a5\",\n            \"qos\": 1\n        },\n        \"ac_consumption\": {\n            \"name\": \"AC Consumption\",\n            \"p\": \"sensor\",\n            \"dev_cla\": \"power\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\": \"W\",\n            \"sug_dsp_prc\": 0,\n            \"val_tpl\": \"{{ value_json.system.ac.consumption }}\",\n            \"uniq_id\": \"dd2452daab854ac126414ef33ffd59ef\",\n            \"qos\": 1\n        },\n        \"ac_input_state\": {\n            \"name\": \"AC Input State\",\n            \"p\": \"sensor\",\n            \"val_tpl\": \"{{ value_json.system.ac.state }}\",\n            \"uniq_id\": \"5a559ddc2d2242095201dcaf7ff899e2\",\n            \"qos\": 1\n        },\n        \"ac_grid_power\": {\n            \"name\": \"Grid Power\",\n            \"p\": \"sensor\",\n            \"dev_cla\": \"power\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\": \"W\",\n            \"sug_dsp_prc\": 0,\n            \"val_tpl\": \"{{ value_json.system.ac.grid_power }}\",\n            \"uniq_id\": \"5387aea40cff661fa81ff8c1edd62eeb\",\n            \"qos\": 1\n        },\n        \"system_battery_soc\": {\n            \"name\": \"Battery SOC\",\n            \"p\": \"sensor\",\n            \"dev_cla\": \"battery\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"%\",\n            \"sug_dsp_prc\": 1,\n            \"val_tpl\":\"{{ value_json.system.battery.soc}}\",\n            \"uniq_id\":\"7ad606c1f8aaa3da4159193b4d744523\",\n            \"qos\": 1\n        },\n        \"system_battery_voltage\": {\n            \"name\": \"Battery Voltage\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"voltage\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"V\",\n            \"sug_dsp_prc\": 2,\n            \"val_tpl\":\"{{ value_json.system.battery.voltage }}\",\n            \"uniq_id\":\"cb4865301b6f3b6ddb95f24779a3ef71\",\n            \"qos\": 1\n        },\n        \"system_battery_current\": {\n            \"name\": \"Battery Current\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"current\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"A\",\n            \"sug_dsp_prc\": 1,\n            \"val_tpl\":\"{{ value_json.system.battery.current }}\",\n            \"uniq_id\":\"5c0fb77e7f7d1d2d85d2ae7a90d278cc\",\n            \"qos\": 1\n        },\n        \"system_battery_power\": {\n            \"name\": \"Battery Power\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"power\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"W\",\n            \"sug_dsp_prc\": 1,\n            \"val_tpl\":\"{{ value_json.system.battery.power }}\",\n            \"uniq_id\":\"5cc7d0d71f8e145c719b63c60830b3ce\",\n            \"qos\": 1\n        },\n        \"system_battery_consumption\": {\n            \"name\": \"Battery Consumption\",\n            \"p\": \"sensor\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"Ah\",\n            \"icon\": \"mdi:battery-medium\",\n            \"sug_dsp_prc\": 1,\n            \"val_tpl\":\"{{ value_json.system.battery.consumption }}\",\n            \"uniq_id\":\"990bf9785a9a053690dbcdab0afabe48\",\n            \"qos\": 1\n        },\n        \"system_battery_time_to_go\": {\n            \"name\": \"Battery Remaining Time\",\n            \"p\": \"sensor\",\n            \"dev_cla\": \"duration\",\n            \"unit_of_meas\": \"s\",\n            \"icon\": \"mdi:battery-clock\",\n            \"val_tpl\":`{{ value_json.system.battery.seconds_to_go }}`,\n            \"uniq_id\":\"a80d80379cc0a97982eb124aa58132f2\",\n            \"qos\": 1\n        },\n        \"case_door\": {\n            \"name\": \"Case Door\",\n            \"p\": \"binary_sensor\",\n            \"dev_cla\":\"door\",\n            \"pl_on\": \"open\",\n            \"pl_off\": \"closed\",\n            \"val_tpl\":\"{{ value_json.door_state }}\",\n            \"uniq_id\":\"ee7a88c123d45e8ce9bbd9005db4ebe6\",\n            \"qos\": 1\n        },\n        \n        // Diagnostic Entities\n        \n        \"inverter_ac_input_voltage\": {\n            \"name\": \"AC Input Voltage\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"voltage\",\n            \"unit_of_meas\":\"V\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.inverter.ac.input.voltage }}\",\n            \"uniq_id\":\"98b8815fcd6f877549f1cdeb1ce4e74d\",\n            \"qos\": 1\n        },\n        \"inverter_ac_input_frequency\": {\n            \"name\": \"AC Input Frequency\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"frequency\",\n            \"unit_of_meas\":\"Hz\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.inverter.ac.input.frequency }}\",\n            \"uniq_id\":\"52436da31fb35f1d47f2146b043c1828\",\n            \"qos\": 1\n        },\n        \"inverter_ac_input_current\": {\n            \"name\": \"AC Input Current\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"current\",\n            \"unit_of_meas\":\"A\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.inverter.ac.input.current }}\",\n            \"uniq_id\":\"fe5ca9e62824c5107f118a29ffda0c63\",\n            \"qos\": 1\n        },\n        \"inverter_ac_output_voltage\": {\n            \"name\": \"AC Output Voltage\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"voltage\",\n            \"unit_of_meas\":\"V\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.inverter.ac.output.voltage }}\",\n            \"uniq_id\":\"1abb64232db65d8b66b506ee10230bd8\",\n            \"qos\": 1\n        },\n        \"inverter_ac_output_frequency\": {\n            \"name\": \"AC Output Frequency\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"frequency\",\n            \"unit_of_meas\":\"Hz\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.inverter.ac.output.frequency }}\",\n            \"uniq_id\":\"fdcf9a7be6e63e22a9bd1ab459bed815\",\n            \"qos\": 1\n        },\n        \"inverter_ac_output_current\": {\n            \"name\": \"AC Output Current\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"current\",\n            \"unit_of_meas\":\"A\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.inverter.ac.output.current }}\",\n            \"uniq_id\":\"79eea304838303fe7f1a4db612afb562\",\n            \"qos\": 1\n        },\n        \"battery_bms_soc\": {\n            \"name\": \"BMS SOC\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"battery\",\n            \"unit_of_meas\":\"%\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.soc }}\",\n            \"uniq_id\":\"f7f49842251b61ac7c5c5b5ee411f44a\",\n            \"qos\": 1\n        },\n        \"battery_bms_voltage\": {\n            \"name\": \"BMS Voltage\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"voltage\",\n            \"unit_of_meas\":\"V\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.voltage }}\",\n            \"uniq_id\":\"863dab2b447c88d091496d391a6fff4d\",\n            \"qos\": 1\n        },\n        \"battery_bms_min_cell_voltage\": {\n            \"name\": \"BMS Min Cell Voltage\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"voltage\",\n            \"unit_of_meas\":\"V\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.min_cell_voltage }}\",\n            \"uniq_id\":\"9578f2bf8d9ffd94ce5dfd4aa8c65e55\",\n            \"qos\": 1\n        },\n        \"battery_bms_min_voltage_cell\": {\n            \"name\": \"BMS Min Voltage Cell\",\n            \"p\": \"sensor\",\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.min_voltage_cell }}\",\n            \"uniq_id\":\"dcf56e0451037edb9be98a55725da3f4\",\n            \"qos\": 1\n        },\n        \"battery_bms_max_cell_voltage\": {\n            \"name\": \"BMS Max Cell Voltage\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"voltage\",\n            \"unit_of_meas\":\"V\",\n            \"sug_dsp_prc\": 2,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.max_cell_voltage }}\",\n            \"uniq_id\":\"37dde944936672696981d16973e5f028\",\n            \"qos\": 1\n        },\n        \"battery_bms_max_voltage_cell\": {\n            \"name\": \"BMS Max Voltage Cell\",\n            \"p\": \"sensor\",\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.max_voltage_cell }}\",\n            \"uniq_id\":\"b0e6cb42cd8c98404a4f4613a7412991\",\n            \"qos\": 1\n        },\n        \"battery_bms_health\": {\n            \"name\": \"BMS Health\",\n            \"p\": \"sensor\",\n            \"unit_of_meas\":\"%\",\n            \"icon\": \"mdi:percent\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.health }}\",\n            \"uniq_id\":\"a160946827659c5ad6dafc90eeeae41f\",\n            \"qos\": 1\n        },\n        \"battery_bms_remaining_capacity\": {\n            \"name\": \"BMS Remaining Capacity\",\n            \"p\": \"sensor\",\n            \"unit_of_meas\":\"Ah\",\n            \"icon\": \"mdi:battery-medium\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.capacity }}\",\n            \"uniq_id\":\"cc56cc120f449f6029d5c76bf7822a31\",\n            \"qos\": 1\n        },\n        \"battery_bms_temperature\": {\n            \"name\": \"BMS Temperature\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"temperature\",\n            \"unit_of_meas\":\"°C\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.temperature }}\",\n            \"uniq_id\":\"422d659d16e084454119a5dcd840f6f8\",\n            \"qos\": 1\n        },\n        \"battery_bms_online_modules\": {\n            \"name\": \"BMS Online Modules\",\n            \"p\": \"sensor\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.modules.online }}\",\n            \"uniq_id\":\"b10aac13bf7ea12dcd6a6dd7f36f0fd1\",\n            \"qos\": 1\n        },\n        \"battery_bms_offline_modules\": {\n            \"name\": \"BMS Offline Modules\",\n            \"p\": \"sensor\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.modules.offline }}\",\n            \"uniq_id\":\"5c00fa6685d0ba326b34a4f86d130ebf\",\n            \"qos\": 1\n        },\n        \"battery_bms_modules_blocking_charge\": {\n            \"name\": \"BMS Modules Blocking Charge\",\n            \"p\": \"sensor\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.modules.blocking_charge }}\",\n            \"uniq_id\":\"a876800a6bda01e96dbd9a21b223efd8\",\n            \"qos\": 1\n        },\n        \"battery_bms_modules_blocking_discharge\": {\n            \"name\": \"BMS Modules Blocking Discharge\",\n            \"p\": \"sensor\",\n            \"sug_dsp_prc\": 0,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.battery.modules.blocking_discharge }}\",\n            \"uniq_id\":\"a9afb50e9db6e0747852f546176c6f2c\",\n            \"qos\": 1\n        },\n        \"output_switch_right_outlet_consumption\": {\n            \"name\": \"Right Outlet Consumption\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"power\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"W\",\n            \"sug_dsp_prc\": 1,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.output_switch.switch0.apower }}\",\n            \"uniq_id\":\"461f8722040dc3a191c9ed62c344d40a\",\n            \"qos\": 1\n        },\n        \"output_switch_left_outlet_consumption\": {\n            \"name\": \"Left Outlet Consumption\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"power\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"W\",\n            \"sug_dsp_prc\": 1,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.output_switch.switch1.apower }}\",\n            \"uniq_id\":\"8df0555eca84a9d87e12c5969860e8e3\",\n            \"qos\": 1\n        },\n        \"output_switch_fan_consumption\": {\n            \"name\": \"Fan Consumption\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"power\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"W\",\n            \"sug_dsp_prc\": 1,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.output_switch.switch2.apower }}\",\n            \"uniq_id\":\"3b543a91729116a66923e7f30f899523\",\n            \"qos\": 1\n        },\n        \"output_switch_aux_consumption\": {\n            \"name\": \"Aux Consumption\",\n            \"p\": \"sensor\",\n            \"dev_cla\":\"power\",\n            \"stat_cla\": \"measurement\",\n            \"unit_of_meas\":\"W\",\n            \"sug_dsp_prc\": 1,\n            \"ent_cat\": \"diagnostic\",\n            \"val_tpl\":\"{{ value_json.output_switch.switch3.apower }}\",\n            \"uniq_id\":\"08f57d16096ca98fd7999395bf8777f7\",\n            \"qos\": 1\n        },\n        \n        // Alarms\n        \n        \"inverter_grid_lost_alarm\": {\n            \"name\": \"Grid Lost Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.inverter.grid_lost }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"30ef751cb2145133323f57bf82737858\",\n        },\n        \"inverter_temperature_alarm\": {\n            \"name\": \"Temperature Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.inverter.temperature }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"52c7d5c239f0cb398749452f93e65834\",\n        },\n        \"inverter_temperature_sensor_alarm\": {\n            \"name\": \"Temperature Sensor Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.inverter.temperature_sensor }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"397d48c61c154399ba96742ab9405fd4\",\n        },\n        \"inverter_low_battery_alarm\": {\n            \"name\": \"Low Battery Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.inverter.low_battery }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"ab48ff759643d8fd754e204cb3442e26\",\n        },\n        \"inverter_overload_alarm\": {\n            \"name\": \"Overload Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.inverter.overload }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"6b12a471f4744f543fa0f3449ad7be6e\",\n        },\n        \"inverter_ripple_alarm\": {\n            \"name\": \"Ripple Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.inverter.ripple }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"9ddbe8387de1102e3afa5ca173d7b569\",\n        },\n        \"inverter_voltage_sensor_alarm\": {\n            \"name\": \"Voltage Sensor Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.inverter.voltage_sensor }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"61d501f69f2c6d96c2d163749ae4298e\",\n        },\n        \"battery_internal_failure_alarm\": {\n            \"name\": \"BMS Internal Failure Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.battery.internal_failure }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"7527e34a7dd4cd17ab668bc1fc21f18c\",\n        },\n        \"battery_cell_imbalance_alarm\": {\n            \"name\": \"BMS Cell Imbalance Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.battery.cell_imbalance }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"9a171a12cb7586fd55ad03254caf3bab\",\n        },\n        \"battery_high_charge_current_alarm\": {\n            \"name\": \"BMS High Charge Current Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.battery.high_charge_current }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"06cf693b405af73c52f01f8bc83f5fc4\",\n        },\n        \"battery_high_discharge_current_alarm\": {\n            \"name\": \"BMS High Discharge Current Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.battery.high_discharge_current }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"f465a9a826203f4fcf224a61f02c43b6\",\n        },\n        \"battery_low_voltage_alarm\": {\n            \"name\": \"BMS Low Voltage Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.battery.low_voltage }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"79f27fb6aec8184266dd0a431da80892\",\n        },\n        \"battery_low_temperature_alarm\": {\n            \"name\": \"BMS Low Temperature Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.battery.low_temperature }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"51be710e0a9c56d37fe6315358034577\",\n        },\n        \"battery_high_temperature_alarm\": {\n            \"name\": \"BMS High Temperature Alarm\",\n            \"p\": \"sensor\",\n            \"icon\": \"mdi:alarm-light\",\n            \"val_tpl\": \"{{ value_json.alarms.battery.high_temperature }}\",\n            \"ent_cat\": \"diagnostic\",\n            \"uniq_id\": \"ae1b7c673121fd6a32e10293b95afaeb\",\n        },\n    },\n  \"stat_t\":\"battery_backup/sump_pump/state\",\n  \"cmd_t\": \"battery_backup/sump_pump/command\",\n  \"qos\": 2\n};\n\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 240,
    "wires": [["0167acfe11912a6a", "83ebf475b4449a5f"]]
  },
  {
    "id": "d6574029cb972585",
    "type": "mqtt in",
    "z": "b84a1c4752b489e8",
    "name": "HA status topic",
    "topic": "homeassistant/status",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "6f36ecfe02922670",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 220,
    "y": 160,
    "wires": [["a6a7420df2b4031e"]]
  },
  {
    "id": "0167acfe11912a6a",
    "type": "mqtt out",
    "z": "b84a1c4752b489e8",
    "name": "Publish MQTT auto discovery",
    "topic": "homeassistant/device/7239bc0a334a45bdd2d0a4f85f5421c3/config",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "6f36ecfe02922670",
    "x": 1040,
    "y": 240,
    "wires": []
  },
  {
    "id": "a6a7420df2b4031e",
    "type": "switch",
    "z": "b84a1c4752b489e8",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "online",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "offline",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 350,
    "y": 160,
    "wires": [["61882093fa9f334e"], ["a2f28dcbf2d9aafb"], ["3f7682f7674cfd02"]]
  },
  {
    "id": "33ddc12e0d5ffe41",
    "type": "inject",
    "z": "b84a1c4752b489e8",
    "name": "Periodically trigger updates",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "120",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 260,
    "y": 240,
    "wires": [["2a4f041ca5c9bc1c"]]
  },
  {
    "id": "3f7682f7674cfd02",
    "type": "debug",
    "z": "b84a1c4752b489e8",
    "name": "Unexpecetd HA status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 200,
    "wires": []
  },
  {
    "id": "a2f28dcbf2d9aafb",
    "type": "debug",
    "z": "b84a1c4752b489e8",
    "name": "HA Offline",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 160,
    "wires": []
  },
  {
    "id": "61882093fa9f334e",
    "type": "delay",
    "z": "b84a1c4752b489e8",
    "name": "Delay birth message",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "100",
    "randomLast": "1000",
    "randomUnits": "milliseconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 520,
    "y": 120,
    "wires": [["2a4f041ca5c9bc1c"]]
  },
  {
    "id": "f70907b27d579451",
    "type": "comment",
    "z": "b84a1c4752b489e8",
    "name": "Home Assistant MQTT Auto Discovery",
    "info": "",
    "x": 290,
    "y": 80,
    "wires": []
  },
  {
    "id": "83ebf475b4449a5f",
    "type": "debug",
    "z": "b84a1c4752b489e8",
    "name": "Published auto discovery",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1030,
    "y": 200,
    "wires": []
  },
  {
    "id": "6f36ecfe02922670",
    "type": "mqtt-broker",
    "name": "HA MQTT Broker",
    "broker": "1.2.3.123",
    "port": "8883",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "bc1f29e238efaf79",
    "type": "tls-config",
    "name": "HA TLS Config",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  }
]
