content/docs/automation/node-red/mqtt/victron/mqtt-publish.json
[
  {
    "id": "879797c5e1dd21b9",
    "type": "link in",
    "z": "d7e874e32e64f3da",
    "name": "State Update",
    "links": [],
    "x": 135,
    "y": 160,
    "wires": [["36f1bb9ac7b34de2"]]
  },
  {
    "id": "5fce32d815695f1a",
    "type": "mqtt out",
    "z": "d7e874e32e64f3da",
    "name": "Publish state update",
    "topic": "battery_backup/sump_pump/state",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "6f36ecfe02922670",
    "x": 990,
    "y": 140,
    "wires": []
  },
  {
    "id": "1f923dc3323ac791",
    "type": "comment",
    "z": "d7e874e32e64f3da",
    "name": "Device State Updates",
    "info": "",
    "x": 230,
    "y": 100,
    "wires": []
  },
  {
    "id": "1124b432bd45f79d",
    "type": "function",
    "z": "d7e874e32e64f3da",
    "name": "Create state object",
    "func": "var state = {\n    \"alarms\": global.get(\"alarms\"),\n    \"automation\": global.get(\"automation\"),\n    \"battery\": global.get(\"battery\"),\n    \"door_state\": global.get(\"door_state\"),\n    \"inverter\": global.get(\"inverter\"),\n    \"output_switch\": global.get(\"output_switch\"),\n    \"system\": global.get(\"system\"),\n};\n\nmsg.payload = state;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 140,
    "wires": [["5fce32d815695f1a", "a27eaed14d52044d"]]
  },
  {
    "id": "a27eaed14d52044d",
    "type": "debug",
    "z": "d7e874e32e64f3da",
    "name": "MQTT state update",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 100,
    "wires": []
  },
  {
    "id": "258b92f6b10e0682",
    "type": "switch",
    "z": "d7e874e32e64f3da",
    "name": "Enabled",
    "property": "automation.mqtt_publish",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 630,
    "y": 180,
    "wires": [["1124b432bd45f79d"]]
  },
  {
    "id": "36f1bb9ac7b34de2",
    "type": "function",
    "z": "d7e874e32e64f3da",
    "name": "Is automation update?",
    "func": "if (msg.payload && \"automation\" in msg.payload) {\n    return [msg, null];\n}\n\nreturn [null, msg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 160,
    "wires": [["1124b432bd45f79d"], ["2a0d2eba5bfdaa62"]]
  },
  {
    "id": "2a0d2eba5bfdaa62",
    "type": "trigger",
    "z": "d7e874e32e64f3da",
    "name": "Throttle state updates",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "500",
    "extend": false,
    "overrideDelay": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 470,
    "y": 180,
    "wires": [["258b92f6b10e0682"]]
  },
  {
    "id": "6f36ecfe02922670",
    "type": "mqtt-broker",
    "name": "HA MQTT Broker",
    "broker": "1.2.3.123",
    "port": "8883",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "bc1f29e238efaf79",
    "type": "tls-config",
    "name": "HA TLS Config",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  }
]
